/*all styles*/
.card-header {
    text-align: center;
    font-weight: bold;
    background-color: #e9ecef;
}

/*page Sing Up*/

.registration-form {
    margin: 10% auto 0;
    max-width: 50rem;
}

/*page Companies*/

.companies {
    display: none;
}
.companies .card {
    height: 35vh;
    margin: 3vh 0;
}


/*card total Companies*/

.total {
    margin: 0 auto;
    width: 20vh;
    height: 20vh;
    text-align: center;
    line-height: 20vh;
    font-size: 25px;
    border: 2px solid #212529;
    border-radius: 50%;
}

/*card List of Companies*/

.card-list-of-companies .card-body {
    overflow-y: auto;
}

/*card Companies by Location*/

.card-list-of-companies {
    width: auto;
    height: 20vh;
}

.card-chart-company-partners {
    display:none;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
